spring:
  application:
    name: users


server:
  port: 8090

keycloak:
  server-url: http://localhost:8080
  realm: bookingPlatform
  public-client: true
  bearer-only: true
  client-id: spring-boot-client
  client-secret: EfEBkyX2BW2Jf0RtTdGL3e6cxMiaDGpV
  admin-token: eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJxelhVclR0WElCaDlmYWRKS2xkcGF0RDVHR3pkUjQ0LTY4c1VLaklPWE0wIn0.eyJleHAiOjE3NDQ2NDY0MjUsImlhdCI6MTc0NDY0NDYyNSwianRpIjoiYzE2NTA1MGItODM4Ni00ZmM5LTkyMDMtY2FkNjg4NTkxODAzIiwiaXNzIjoiaHR0cDovL2xvY2FsaG9zdDo4MDgwL3JlYWxtcy9tYXN0ZXIiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJhZG1pbi1jbGkiLCJzaWQiOiJiMzk1NzkwMi01YWI4LTQyZDYtODlmZi0zMWFkMjcyY2YyMzYiLCJzY29wZSI6ImVtYWlsIHByb2ZpbGUifQ.TRbeMMh-8kr3YbNxsLfD32dc5GiQM4lbH8Wvwpn7mlE9Gs_coUs3AMdaIDUXjF0bwdjFcqI1KIRLJqgAx4CvoIaGO_gsN_j0Qus2OsXLAPLbNqcO91doRA9lJAV7GKUo6FE08TXbxtYvbsiG65W7_YlHC_Q9bjABQxjqpkltV65teggdhskftvELceiJy2hlyw1upZsRJDy1Cp9EnJWdZ2ME5A2ngqTFf-10cbsr1vEiBi01DpvRPFuGlYclWT_nOVoA0tJYFreE0jGwxDzsJ7pMmV4gTg4Ielp--M2hdUwFOBszeMhjiM6gw7d-pvzwj4SUxheQhnvjXKnQC9OKPw

logging:
  level:
    org:
      springframework:
        security: DEBUG
        web: DEBUG