server:
  port: 8222
spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: users
          uri: http://localhost:8090
          predicates:
            - Path=/**
        - id: flight
          uri: http://localhost:8050
          predicates:
            - Path=/**